$background-color: #fafafa;

$text-color: #33474b;

$background-dark-color: #33474b;

$text-color-dark: #fafafa;

$selected-color: #fff;
$selected-background-color: #26351c;

$primary-color: #eb811b;
$secondary-color: #51483d;
$secondary-light-color: #8b7c69;

$arrow-color: #25211c;
