@import "~reveal.js/dist/reveal.css";
@import "~reveal.js/dist/theme/black.css";
@import "~reveal.js/plugin/highlight/monokai.css";

$primary-color: #eb811b;

.highlight {
  color: $primary-color;
}

.reveal blockquote {
  border-left-style: solid;
  border-left-width: 4px;
  border-left-color: $primary-color;
  padding-left: 1rem !important;
  text-align: left;
}
